<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

        <nav class="navbar navbar-dark bg-dark ">
                <table>
                    <tr>
                    <%for(var i=0;i<nav.length;i++){%>
                    <td><button type="button" class="btn btn-light">
                     <a href="<%= nav[i].link%>"><%=nav[i].title%></a>
                    </td> </button>  
                   <%}%>
                </tr>
            </table>
              </nav>

              <div class="container">
                    <div class="row">
                    <div class ="col-lg-6">
                                   
                           
                               <div class="card text-black bg-white"  style="width: 20rem;">
                                      <img  src="<%=products.picture%>" alt="Card image cap" style="width:25% ;height:25%">
                                <div class="card-body">
                                <h2>Model :<%=products.model%></h2>
                          
                               <h4>Features :<%=products.disp%></h4>
                               <h4>Price :<%=products.price%></h4>
                               <h5>Release date :<%=products.release%></h5>
                               <h5>Description: <%=products.description%></h5>
                               <h6>Reviews:<input type="text" class="form-control" value="<%=products.review%>"></input></h6>
                               <input type="text" class="form-control" value="<%=products.review1%>"></div></input>
                            
                               
                               
  </div></div> 
                    </div>
    